/* Reseteo CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root variables y estilos generales */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(206, 141, 141, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;  /* Asegurarse de que el padding sea 0 */
    text-align: center;
    overflow-x: hidden; /* Para prevenir scroll horizontal */
}

/* Estilos para formulario */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #121212;
    color: white;
    padding: 20px;
}

/* Estilos para los inputs */
input, textarea {
    background-color: #dbd9d9;
    color: white;
    border: none;
    max-width: 100%; /* Asegurarse de que no se exceda el ancho */
}

/* Estilos para los botones */
.button-container {
    margin-top: 20px;
}

.register-button,
.enter-button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
    max-width: 100%; /* Asegurarse de que no se exceda el ancho */
}

.register-button {
    background-color: #4CAF50;
}

.enter-button {
    background-color: #008CBA;
}

.register-button:hover,
.enter-button:hover {
    transform: scale(1.05);
}

.register-button:focus,
.enter-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 139, 197, 0.7);
}

/* Tipografía y espaciado */
h1, p {
    color: white;
    margin: 0;
}

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
    .register-button,
    .enter-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* Estilos para textos animados */
.animated-text {
    font-size: 24px;
    color: #333;
}

/* Estilos específicos adicionales */
.label-white {
    color: white;
}
