/* vista_ganador.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ganadores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #242424; /* Fondo oscuro */
  background-image: url('../assets/mario.gif'); /* Agrega tu gif aquí */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(0, 255, 64); /* Texto blanco */
  padding: 20px;
}

/* Resto de tus estilos */


/* Título de ganadores */
.ganadores-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Tabla de ganadores */
.ganadores-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.ganadores-table th,
.ganadores-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: rgb(114, 125, 189); /* Fondo blanco */
    color: black; /* Texto negro */
}


.ganadores-table th {
  background-color: #007bff;
  color: white;
}

/* Botón de logout */
.logout-button {
  background-color: #dc3545; /* Color de fondo rojo para el botón de salir */
  color: white; /* Color de texto blanco */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno */
  font-size: 1rem; /* Tamaño de fuente */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.logout-button:hover {
  background-color: #c82333; /* Color más oscuro al pasar el ratón */
}
